<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Review</title>
		<link rel="stylesheet" type="text/css" href="normalize.css"/>
		<link rel="stylesheet" type="text/css" href="reviewsite-layout.css" />
		<link rel="stylesheet" type="text/css" href="reviewsite-styles.css" />
		<link href="https://fonts.googleapis.com/css?family=Merriweather"
			rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/css?family=Raleway"
			rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville"
			rel="stylesheet"/>
	</head>
	<body>
		<div class="container">
			<header>
				<div class="headline">
					<h1>John's Restaurant Review Site</h1>
				</div>
				<nav>
					<h3><a href="/reviews.html">Reviews</a></h3>
					<h3><a href="/categories.html">Categories</a></h3>
					<h3><a href="/tags.html">Tags</a></h3>
				</nav>
			</header>
			<main>
				<div class="reviewStuff">
					<h2 th:text="${review.reviewTitle}"></h2><!-- displays review title -->
					<img th:src="${review.imageUrl}" alt="Picture of Restaurant"/> <!-- displays review image -->
					<p class="reviewContent" th:text="${review.reviewContent}"></p> <!-- displays review content -->
					<h3>Category:</h3>
					<a th:href="@{/category(id=${review.category.categoryId})}" th:text="${review.category.categoryName}"></a> <!-- displays title of and link to review category -->
				</div>
				<div class="reviewTags">
					<h2>Tags: </h2>
					<ul class="tagList">
						<li th:each="tag: ${review.tags}">
							<a th:href="@{/tag(id=${tag.tagId})}" th:text="${tag.tagName}"></a>
						</li> <!-- displays title of and link to all tags associated with this review -->
			 		</ul>
				</div>
				<div class="addTagForm">
				 	<form class="add-tag" method="POST">
						<label>Add tag: </label>
						<input type="text" name="tagName" />
						<button th:formaction="@{/add-tag(id= ${review.reviewId})}">add</button>
					</form>
				</div>
				<div class="removeTagForm">
				 	<form class="remove-tag" method="POST">
						<label>Remove tag: </label>
						<input type="text" name="tagName" />
						<button th:formaction="@{/remove-tag(id= ${review.reviewId})}">remove</button>
					</form>
				</div>
				<button id="commentButton">Comment</button>
				<div class="commentModal">
					<div class="modalContent">
						<form class="commentForm">
							<span class="close">&times;</span>
							<input type="text" id="userName" placeholder="Your name here..."/>
							<textarea name="commentField" id="commentField" placeholder="Make a comment..."></textarea>
							<input type="button" name="submitComment" value="Submit" id="submitComment"/>
						</form>
					</div>
				</div>
				<section id="comments"></section>
			</main>
			<footer>
				<p>Copyright 2017</p>
			</footer>
		</div>
		<script src="js/reviewsite-app.js"></script>
		<!-- review-site-iteration-3\src\main\resources\static\js\app.js -->
	</body>
</html>
