<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Tag</title>
		<link rel="stylesheet" type="text/css" href="normalize.css"/>
		<link rel="stylesheet" type="text/css" href="reviewsite-layout.css" />
		<link rel="stylesheet" type="text/css" href="reviewsite-styles.css" />
		<link href="https://fonts.googleapis.com/css?family=Merriweather"
			rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/css?family=Raleway"
			rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville"
			rel="stylesheet"/>
	</head>
	<body>
		<div class="container">
			<header>
				<div class="headline">
					<h1>John's Restaurant Review Site</h1>
				</div>
				<nav>
					<h3><a href="/reviews.html">Reviews</a></h3>
					<h3><a href="/categories.html">Categories</a></h3>
					<h3><a href="/tags.html">Tags</a></h3>
				</nav>
			</header>
			<main>
				<h2 th:text="'Restaurants tagged ' + ${tag.tagName}"></h2>
				<div th:each="review: ${tag.reviewsTagged}">
					<img th:src="${review.imageUrl}" alt="Picture of Restaurant"/>
					<h2>			
						<a th:href="@{/review(id=${review.reviewId})}" th:text="${review.reviewTitle}"></a>
					</h2>
				</div>
			</main>
			<footer>
				<p>copyright John Ryan Chaffin, 2017</p>
			</footer>
		</div>
	</body>
</html>